{% extends "index.html" %}

{% block content %}
<h1>About</h1>
<a href="/">Wróć na stronę główną</a>
<br/><br/>
<p>FlaskMaschines to aplikacja demonstrująca użycie framework'a Flask. Użytkownik wybiera jedno zadanie i przydziela maszyny, które będą je realizować. Aplikacja odpytuje serwer o stan wykonania zadania na poszczególnych maszynach.</p>
<p>Aplikacja jest w pełni degradowalna, działa zarówno z włączoną obsługą JavaScript jak i bez niej (na zasadzie odświeżeń strony przez użytkownika). Aplikacja wykorzystuje projekt Twitter Bootstrap jako ostylowanie, oraz niewielką bazę SQLite dla przechowywania danych.</p>

{% endblock %}