{% from '_helpers.html' import menu with context %}
<!DOCTYPE html>
<html lang="en" >
    <head>
	<meta charset=utf-8>
	<meta name="robots" content="noindex, nofollow">
	<meta name="author" content="Krzysztof Wilczek" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
	<link rel="bookmark icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="flask, machines" />
        <meta name="description" content="Przykład aplikacji Flask oraz JS" />
	<title>FlaskMachines</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    </head>
    <body>
	
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">FlaskMachines</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
			{{ menu('index', 'Home') }}
			{{ menu('about', 'Projekt') }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    {% block content %}
    
	<div class="well">
	    <h1>Witaj na FlaskMachines</h1>
	    <p>Wybierz jedno z zdań oraz maszyny, które je wykonają.</p>
	</div>
    
    <form id="tasksForm" method="post" action="/add">
	<div class="span2">
	    <h3>Zadania:</h3>
	{% for task in tasks %}
	    <label class="radio">
		<input value="{{task.id}}" {% if lowerStage < 3 %} disabled="disabled"{%endif%} class="task" name="task" type="radio"> {{ task.name }}
	    </label>
	{% endfor %}
	</div>
	<div class="span2">
	    <h3>Maszyny:</h3>
	{% for maschine in maschines %}
	    <label class="checkbox">
		<input value="{{maschine.id}}" {% if lowerStage < 3 %} disabled="disabled"{% endif %} class="maschine" name="maschines" type="checkbox"> {{ maschine.name }}
	    </label>
	{% endfor %}
	</div>
	<input type="submit" {% if lowerStage < 3 %} disabled="disabled"{%endif%} class="btn btn-inverse pull-left" value="Wykonaj" id="sendTask"/>
	<div style="clear: both;"></div>
    </form>
    
    <table class="table" id="current_tasks_list">
	<col width="50px"/>
	<col width="250px" />
	<col width="250px" />
	<col width="*" />
	<thead>
	    <tr>
		<th>#</th>
		<th>Zadanie</th>
		<th>Maszyna</th>
		<th>Status</th>
	    </tr>
	</thead>
	<tbody>
	    {% if currentTasksCount == 0 %}
		<tr>
		    <td colspan="4">Brak zleconych zdań</td>
		</tr>    
	    {% else %}
		{% for task in currentTasks %}
		    <tr>
			<td>{{ task.id }}</td>
			<td>{{ task.task_name }}</td>
			<td>{{ task.maschine_name }}</td>
			<td class="stage_{{ task.stage }}">{{ task.stage_name }}</td>
		    </tr>
		{% endfor %}
	    {% endif %}
	    
	</tbody>
    </table>
    {% endblock %}
    </div>
    <div class="navbar navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Krzysztof Wilczek &copy;</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="http://www.facebook.com/pages/MoonCode/460086204003825">Facebook</a></li>
                        <li><a href="https://plus.google.com/108420708629819962833" rel="publisher">Google +</a></li>
                        <li><a href="https://twitter.com/#!/KrzysiekWilczek">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>